.sideBars {
    display: flex;
    justify-content: space-between;
}
    .leftBox,
    .rightBox {
        width: 15vw;
        background-color: rgb(255, 212, 188);
        box-shadow: 0px 8px 30px 4px rgb(248, 244, 244) inset;
    }

 

.mainContactBox {
display: flex;
border: 2px solid white;
width: 50%;
padding: 5vw;
margin: 4rem auto;
background-color: rgb(245, 175, 175);
box-shadow: -1px 1px 12px 1px rgb(125, 127, 233);  
}

    .mainContactText {
    flex-basis: 50%;
    margin: 3rem;
    } 

    .mainContactForm {
        flex-basis: 40%;
        display: flex;
        margin: auto 15px;
        flex-direction: column;
    }
        .name,
        .message,
        .submit {
            background-color: rgb(255, 220, 220);
            border: 1px solid black;
        }
            .name {
                padding: 5px 13px;
                max-width: 60% /*?*/
            }
            .message {
                padding: 5px 13px;
                height: 10rem;
                color: black;
            }
            .submit {
                padding: 5px 1px;
                max-width: 30%; /*?*/
            } 
            .finePrint {
                font-size: .8rem;
            }
            .submit:hover {
                cursor: pointer;
                background-color: ivory;
            }
            .name:focus,
            .message:focus,
            .submit:focus {
                outline: none;
            }
            ::placeholder {
                color: rgb(105, 105, 105);
            }
          
            

@media (max-width: 1270px) {
    .mainContactBox {
        width: 80%
    }
}

@media (max-width: 800px) {
    .mainContactBox {
        width: 70%;
        flex-direction: column-reverse;
    }
    .mainContactForm {
        width: 60vw;
        margin: 1rem auto;
    }
    .mainContactText {
        width: 60vw;
        margin: 1rem auto;
    }
}