.theGallery {
    font-size: 5rem;
    letter-spacing: 2rem;
    opacity: 50%;
    margin: 3rem;
    display: flex;
    justify-content: center;
}

.pictureSection {
    max-width: 85%;
    margin: 0rem auto;
    display: flex;
    flex-wrap: wrap;
}
    .pictureSectionElements {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        justify-content: space-evenly;
    }
        .pics {
        padding: 1rem;
        }


 @media (max-width: 1000px) {
    .theGallery {
        padding-bottom: 3rem;
        letter-spacing: 1rem;
        font-size: 4rem;
    }
}

@media (max-width: 700px) {
    .theGallery {
        font-size: 3rem;
        margin: 2rem 0;
        padding: 0;
    }
    .pics {
        transform: scale(.9);
        padding: 1rem;
    }
}

@media (min-width: 1px) {
    .theGallery {
        font-size: 25px;
        letter-spacing: .7rem;
    }

    .pics {
        transform: scale(.5);
        padding: 0;
    }
} 