
.sideBars {
    display: flex;
    justify-content: space-between;
}
    .leftBox,
    .rightBox {
        width: 15%;
        background-color: rgb(58, 58, 58);
        box-shadow: 0px 8px 30px 4px rgb(61, 61, 61) inset;
    }

.introduction {
    display: flex;
    margin: 5rem;
    border: 3px solid rgb(255, 255, 255);
    box-shadow: -1px 1px 9px 1px rgb(255, 191, 191);
    }

    .profilePic {
        width: 11rem;
        height: 11rem;
        padding: 4rem;
        filter: grayscale(100%)
    }
    .introText {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 3rem;
    }

.inBoxLinks:hover {
    text-decoration: underline;
}


.pictureSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10% auto;
    width: 90vw;
    }
    .pictureSectionElements {
        display: flex;
        width: 90%;
        justify-content: space-around;
        border: 3px solid rgb(255, 255, 255);
        box-shadow: -1px 1px 25px 1px rgb(205, 255, 222);
        padding: 4rem 2rem;
    }
    .galleryLink {
        margin-top: 2rem;   
    }


.bottomRightBox,
.bottomLeftBox {
    width: 10rem;
    background-color: rgb(58, 58, 58);
        box-shadow: 0px 8px 30px 4px rgb(61, 61, 61) inset;
}

.middle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
    .upcomingBox {
        display: flex;
        align-self: center;
        align-items: center;
        width: 60vw;
        border: 2px solid rgb(255, 255, 255);
        box-shadow: -1px 1px 12px 1px rgb(188, 187, 255);  
        }
        .upcomingPicture {            
            padding: 2rem;
            width: 30%;
        }
        .upcomingText {
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            padding: 2rem 2rem;
    }
    
    .mainContactBox {
        display: flex;
        border: 2px solid white;
        width: 70%;
        padding: 5vw;
        margin: 4rem auto;
        background-color: rgb(116, 112, 112);
        box-shadow: -1px 1px 12px 1px rgb(250, 255, 205);  
        }
        
            .mainContactText {
            flex-basis: 50%;
            margin: 3rem;
            } 
        
            .mainContactForm {
                flex-basis: 40%;
                display: flex;
                margin: auto 15px;
                flex-direction: column;
            }
                .name,
                .message,
                .submit {
                    background-color: rgb(240, 240, 240);
                    border: 1px solid black;
                }
                    .name {
                        padding: 5px 13px;
                        max-width: 60%;
                    }
        
                    .message {
                        padding: 5px 13px;
                        height: 10rem;
                        color: black;
                    }
                    .submit {
                        display: block;
                        padding: 5px 10px;
                        align-self: flex-end;
                        margin-top: 1rem;
                    } 
                    .finePrint {
                        font-size: .8rem;
                    }
                    .submit:hover {
                        cursor: pointer;
                        background-color: ivory;
                    }
                    .name:focus,
                    .message:focus,
                    .submit:focus {
                        outline: none;
                    }
                    ::placeholder {
                        color: rgb(105, 105, 105);
                    }
                  




@media (max-width: 1270px) {
    .bottomLeftBox,
    .bottomRightBox {
        display: none;
    }
    .introduction {
        margin: 5% auto;
    }
    .middle {
        margin: 5rem auto;
        margin-bottom: 0;
    }
    .pictureSectionElements {
        flex-wrap: wrap;  
        padding: 15px;
    }
    .pic-img {
        margin: 15px;
        display: flex;
        justify-content: center;
    }
    .pic-img > img {
        padding: 2rem;
        max-width: 100%;
    }
    .upcomingBox {
        margin: 2rem auto;
        width: 80vw;
    }


@media (max-width: 1000px) {
    .introduction {
        margin: 5rem auto;
        width: 80vw;
        flex-direction: column;
        height: 60%;
    }
    .profilePic {
        margin: 2rem auto;
        padding: 0; 
    }
    .introText {
        padding: 2rem;
        text-align: center;
    }
    .pic-img > img {
        padding: 1rem;
    }
    .rightBox,
    .leftBox {
        display: none;
    }
    .middle {
        margin: 1rem auto;
    }
        .upcomingBox {
            flex-direction: column;
        }
            .upcomingPicture {
                margin: 4rem auto;
                transform: scale(1.8);
                align-self: flex-end;
            }
            .upcomingText {
                width: 70%;
                padding-bottom: 2rem;
                text-align: center;
                margin: 0 auto;
            }
        }

@media (max-width: 576px) {

    .pictureSection {
        width: 70%
    }
    .mainContactBox {
        flex-direction: column-reverse;
    }
    .mainContactText {
        margin: 1rem auto;
    }
    .finePrint {
        font-size: 13px;
    }
}
    




