html {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

body {
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    background-color: rgb(68, 68, 68);
}

h1 {
    font-size: 3rem;
    color: white;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

 a {
    text-decoration: none;
    color: rgb(0, 0, 0)
}

.inBoxLinks {
    text-decoration: underline;
    color: rgb(255, 255, 255);
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

li {
    margin: 0px;
    padding: 0px;
}

.mainPicture {
    height: 32%;
    display: flex;
    justify-content: space-evenly;    
    align-items: center;
    background-image: url(pics/bg.jpg);
    background-position: center;
    background-size: cover;
}
    #name {
        font-size: 3rem;
        background-color: none;
        color: white;
    }

.navbar {
    display: flex;
    justify-content: space-evenly;    
    align-items: center;
    background-color: rgb(190, 190, 190);
    height: 3rem;
    box-shadow: 0px 9px 20px rgb(61, 61, 61);
}
    .navbarLinks {
        color: black;
    }
    .navbarLinks:hover {
        text-decoration: underline;
    }


.footer {
    display: flex;
    justify-content: space-between;
    background-color: rgb(110, 110, 110);
    margin-bottom: 1px;

}
    .footerLeft,
    .footerRight {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 30%;
        align-self: center;
        margin: 0 2rem;
    }
        .about:hover {
            text-decoration: underline;
        }


/* media queries */

@media (max-width: 1270px) {
    .leftBox,
    .rightBox,
    .bottomLeftBox,
    .bottomRightBox {
        display: none;
    }
}

@media (max-width: 1170px) {
    #name {
        font-size: 2rem;
    }
    .footerLeft {
        width: 70%;
        display: flex;
        justify-content: space-evenly;
        margin-right: 0rem;
    }
    .footerRight {
        width: 30%;
        margin-left: 0rem;
    }
}

@media (max-width: 576px) {
    #name {
        font-size: 25px;
    }
    .mainPicture {
        height: 20%;
    }
    .navbar {
        height: 5%;
        font-size: 17px;
    }
    .footer {
        flex-direction: column-reverse;
    }
    .footerLeft {
        font-size: .6rem;
        margin: 0;
    }
    .footerRight {
        margin: 0;
        padding: 0;
        justify-items: space-evenly;
    }

@media (min-width: 1px) {
    #name {
        font-size: 15px;
    }

} 


