h2 {
    font-size: 5rem;
    letter-spacing: 2rem;
    text-align: center;
    opacity: 50%;
    margin: 2rem;
}

h3 {
    margin: 2rem 0rem;
    margin-left: 0;
}


.content {
    display: flex;
    flex-direction: column;
}
    .eventsBoxOne,
    .eventsBoxTwo {
        width: 70vw;
        border: 3px solid rgb(255, 255, 255); 
        margin: 4rem auto;
        padding: 4rem 4rem;
        display: flex;
        justify-content: space-evenly;
    }
        .artShow,
        .galleryPic {
            width: 30%;
            margin: auto 4rem;
        }

        .eventsTextOne,
        .eventsTextTwo {
            display: inline-block;
            width: 50%;
        }

            .eventsTextTwo {
                text-align: right;
            }



.events {
    margin: 6rem auto;
}
    th {
        height: 3rem;
        text-align: left;
        border: 2px solid rgb(224, 189, 123);
    }  
        .date {
            width: 3rem;
            padding: 1rem;
        }
        .city {
            width: 7rem;
            padding: .5rem;
        }
        .venue {
            width: 10rem;
            padding: 1rem;
        }

    td {
        padding: 1rem;
        border: 2px solid rgb(139, 177, 144);
    }  

        button {
            float: right;
            background-color: white;
            color: black;
            margin-left: 6rem;
            font-size: 1.1rem;
        }
        button:hover {
            cursor: pointer;
        }



@media (max-width: 1000px) {
    h2 {
        font-size: 4rem;
        height: 5rem;
    }
    .content {
        padding-top: 1rem;
    }
    .venue-child {
        display: flex;
        flex-direction: column;
        margin-top: rem;
    }
    button {
        margin-top: 1rem;
        padding: 0px 30px;
        align-self: center;
    }
    .events {
        transform: scale(.9);
        margin-top: 6rem;
        }
        button {
            margin-left: 0rem;
        }
    }

@media (max-width: 800px) {

    h2 {
        font-size: 1rem;
        padding: 0rem 0rem;
    }

        .eventsBoxOne,
        .eventsBoxTwo {
            width: 50%;
            display: flex;
            flex-direction: column;
            margin: 1rem auto;
        }
        .eventsBoxTwo {
            flex-direction: column-reverse;
        }
            .galleryPic,
            .artShow {
                margin: 3rem auto;
                transform: scale(2);
                padding: 0;
            }
            .eventsTextOne,
            .eventsTextTwo {
                text-align: center;
                width: 100%;
                margin-left: 0rem;
            }


    .events {
        transform: scale(.9);
        width: 90vw;
        margin-top: 1rem;
    }
    button {
        margin-left: 0rem;
    }
}

@media (max-width: 600px){
    .content {
        max-width: 80vw;
        padding: 0;
        margin: auto;
        display: flex;
    }

    h2 {
        font-size: 1.5rem;
        padding: 0rem;
        justify-content: center;
        margin: 2rem auto;
    }

    .galleryPic,
    .artShow{
        transform: scale(4);
    }
    h2 {
        letter-spacing: 1rem;
    }
}